Roommate.IoT.Business/Connected Services/RoommateServer/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Roommate.Application.Shared.Appointment" />
  <xs:element name="GetAppointmentsBetween">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentsBetweenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Roommate.Application.Shared.Appointment" minOccurs="0" name="GetAppointmentsBetweenResult" nillable="true" type="q1:ArrayOfAppointmentUiModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>